/*
 Image upload use ImageMagick
 Changes for plupload.css
-----------------------------------*/

.file-name {
	vertical-align: middle;
}

.file-name img {
	max-height: 150px;
	max-width: 150px;
}

.attach-name span {
	padding-left: 0.5em;
}

.attach-controls {
	float: none;
	padding-top: 1em;
}

input.button2 {
	margin-bottom: 5px;
}
