{% INCLUDE 'overall_header.html' %}

<h1>{{ lang('ACP_IMCGER_IMGUPLOAD_TITLE') }}</h1>

<form id="acp_board" method="post" action="{{ U_ACTION }}">

	<fieldset>
		<legend>{{ lang('ACP_IMCGER_SETTINGS') }}</legend>
		<dl>
			<dt><label for="imcger_imgupload_tum_quality">{{ lang('ACP_IMCGER_THUMB_QUALITY') ~ lang('COLON') }}</label><br/><span>{{ lang('ACP_IMCGER_THUMB_QUALITY_DESC') }}</span></dt>
			<dd><input type="number" id="imcger_imgupload_tum_quality" min="10" max="100" step="any" maxlength="3" name="imcger_imgupload_tum_quality" value="{{ IMCGER_TUM_QUALITY }}" /></dd>
		</dl>

		<dl>
			<dt><label for="imcger_imgupload_img_quality">{{ lang('ACP_IMCGER_IMAGE_QUALITY') ~ lang('COLON') }}</label><br/><span>{{ lang('ACP_IMCGER_IMAGE_QUALITY_DESC') }}</span></dt>
			<dd><input type="number" id="imcger_imgupload_img_quality" min="10" max="100" step="any" maxlength="3" name="imcger_imgupload_img_quality" value="{{ IMCGER_IMG_QUALITY }}" /></dd>
		</dl>

		<dl>
			<dt><label for="imcger_imgupload_max_width">{{ lang('ACP_IMCGER_MAX_WIDTH') ~ lang('COLON') }}</label><br/><span>{{ lang('ACP_IMCGER_MAX_WIDTH_DESC') }}</span></dt>
			<dd><input type="number" id="imcger_imgupload_max_width" min="0" max="9999999999" step="any" maxlength="10" name="imcger_imgupload_max_width" value="{{ IMCGER_MAX_WIDTH }}" /></dd>
		</dl>

		<dl>
			<dt><label for="imcger_imgupload_max_height">{{ lang('ACP_IMCGER_MAX_HEIGTH') ~ lang('COLON') }}</label><br/><span>{{ lang('ACP_IMCGER_MAX_HEIGTH_DESC') }}</span></dt>
			<dd><input type="number" id="imcger_imgupload_max_height" min="0" max="9999999999" step="any" maxlength="10" name="imcger_imgupload_max_height" value="{{ IMCGER_MAX_HEIGHT }}" /></dd>
		</dl>
		
		<dl>
			<dt><label for="imcger_imgupload_max_filesize">{{ lang('ACP_IMCGER_MAX_FILESIZE') ~ lang('COLON') }}</label><br/><span>{{ lang('ACP_IMCGER_MAX_FILESIZE_DESC') }}</span></dt>
			<dd><input type="number" id="imcger_imgupload_max_filesize" min="0" max="9999999999" step="any" name="imcger_imgupload_max_filesize" value="{{ IMCGER_MAX_FILESIZE }}"/> <select name="size_select"><option value="b" {% if IMCGER_UNIT == 'b' %} selected="selected"{% endif %}>Bytes</option><option value="kb" {% if IMCGER_UNIT == 'kb' %} selected="selected"{% endif %}>KiB</option><option value="mb" {% if IMCGER_UNIT == 'mb' %} selected="selected"{% endif %}>MiB</option></select></dd>
		</dl>

		<dl>
			<dt><label for="imcger_imgupload_del_exif">{{ lang('ACP_IMCGER_DEL_EXIF') }} {{ lang('COLON') }}</label><br><span>{{ lang('ACP_IMCGER_DEL_EXIF_DESC') }}</span></dt>
			<dd>
				<label><input type="radio" class="radio" id="imcger_imgupload_del_exif" name="imcger_imgupload_del_exif" value='1'{% if IMCGER_DEL_EXIF %} checked="checked"{% endif %} /> {{ lang('YES') }}</label>
				<label><input type="radio" class="radio" name="imcger_imgupload_del_exif" value='0'{% if not IMCGER_DEL_EXIF %} checked="checked"{% endif %} /> {{ lang('NO') }}</label>
			</dd>
		</dl>
	</fieldset>

	<fieldset class="submit-buttons">
		<input class="button1" type="submit" id="submit" name="submit" value="{L_SUBMIT}" />
		{S_FORM_TOKEN}
	</fieldset>
	
</form>

{% INCLUDE 'overall_footer.html' %}
